In [3]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#Seaborn theme and plot size
sns.set_theme(style="white",font_scale=1.2)
plt.figure(figsize=(18, 10))

In [23]:
#Import data
data = pd.read_csv("C:\\Users\\thoma\\Desktop\\Data301\\Project\\project-group33\\data\\raw\\SharkAttacks_update.csv")
data

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Unnamed: 14
0,25-Jun-18,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,NaN
1,18-Jun-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,NaN
2,09-Jun-18,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,NaN
3,08-Jun-18,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,NaN
4,04-Jun-18,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,NaN
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,NaN
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,NaN
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,NaN
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,NaN

In [26]:
#Clean, Process, and Wrangle Data
df = data[data.Year > 1799]\
          .drop(columns=['Date', 'Location', 'Name', 'Age', 'Injury', 'Time', 'Unnamed: 14'])\
          .dropna(subset=['Year','Country'])\
          .reset_index(drop=True)
df

,Year,Type,Country,Area,Activity,Sex,Fatal (Y/N),Species
0,2018.0,Boating,USA,California,Paddling,F,N,White shark
1,2018.0,Unprovoked,USA,Georgia,Standing,F,N,NaN
2,2018.0,Invalid,USA,Hawaii,Surfing,M,N,NaN
3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,2 m shark
4,2018.0,Provoked,MEXICO,Colima,Free diving,M,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...
6086,1804.0,Boat,AUSTRALIA,New South Wales,NaN,NaN,N,NaN
6087,1803.0,Sea Disaster,USA,South Carolina,NaN,M,N,NaN
6088,1803.0,Unprovoked,AUSTRALIA,Western Australia,NaN,M,N,NaN
6089,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,Y,NaN
6090,1800.0,Unprovoked,SEYCHELLES,St. Anne,a corsair's boat was overturned,F,Y,NaN

In [60]:
from scripts import project_functions
df = project_functions.load_and_process("C:\\Users\\thoma\\Desktop\\Data301\\Project\\project-group33\\data\\raw\\SharkAttacks_update.csv")
df

ImportError: cannot import name 'project_functions' from 'scripts' (unknown location)